<head>
  <title>購物車 | 泰昇服飾</title>
</head>
{% extends 'base.html' %} {% block content %} {% load cart %} {% load custom %}
<div class="container">
  <div class="border rounded p-4 m-4">
    <center><p class="display-4 pl-4 ml-4">你的購物車</p></center>
    <div style="overflow-x: auto">
      <table class="table">
        <thead>
          <tr>
            <th>序列號</th>
            <th>圖片</th>
            <th>產品名稱</th>
            <th>單價</th>
            <th>數量</th>
            <th>總價</th>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>
              <img
                style="height: 80px"
                class="rounded-circle"
                src="{{product.image.url}}"
                alt=""
              />
            </td>
            <td>{{product.name}}</td>
            <td>{{product.price|currency}}</td>
            <td>{{product|cart_quantity:request.session.cart}}</td>
            <td>{{product|price_total:request.session.cart|currency}}</td>
          </tr>

          {% endfor %}
        </tbody>

        <tfoot>
          <tr>
            <th colspan="4"></th>
            <th class="" colspan="">總價</th>
            <th>{{products|total_cart_price:request.session.cart|currency}}</th>
          </tr>
        </tfoot>
      </table>
    </div>
    <hr />
    {% if products %}
    <div class="m-3 p-3">
      <a
        href="{% url 'clear' %}"
        class="btn btn-outline-info border rounded col-lg-3 float-left"
        >清空購物車</a
      >
    </div>
    <div class="m-3 p-3">
      <a
        href="#"
        data-toggle="modal"
        data-target="#exampleModal"
        class="btn btn-outline-info border rounded col-lg-3 float-right"
        >確認訂單</a
      >
    </div>
    {% endif %}
  </div>
</div>

<!-- modal -->

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">結帳</h5>
        <hr />
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="m-2 p-3">
          <form action="{% url 'checkout' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="">請輸入會員姓名(名字+空格+姓, 例:小明 王)</label>
                <input
                  type="text"
                  name="address"
                  id=""
                  class="form-control"
                  placeholder=""
                  aria-describedby="helpId"
                />
              </div>
            <div class="form-group">
              <label for="">請輸入地址</label>
              <input
                type="text"
                name="address"
                id=""
                class="form-control"
                placeholder=""
                aria-describedby="helpId"
              />
            </div>
            <div class="form-group">
                <label for="">請輸入手機號碼(9xx-xxx-xxx)</label>
                <div class="input-group-prepend">
                    <div class="input-group-text">+886</div>
              <input
                type="text"
                name="phone"
                id=""
                class="form-control"
                placeholder=""
                aria-describedby="helpId"
              />
            </div>
            </div>

            <input
              type="submit"
              class="btn float-right btn-outline-info col-lg-6"
              value="Check out"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
